<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="ISO-8859-1">
<!-- <meta http-equiv="refresh" content="3"> -->
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
<meta th:name="${_csrf.headerName}" th:content="${_csrf.headerName}" />
<title  th:text="#{applicationTitle.admin}">Admin</title>

<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css" />
<link rel="stylesheet"
	href="/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet"
	href="/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet"
	href="/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet"
	href="/vendors/Magnific-Popup/magnific-popup.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/myStyle.css">

<script src="../../js/sound.js" type="text/javascript"></script>
<!-- <script src="/resources/static/js/sound.js" type="text/javascript"></script> -->

</head>
<body>

	<!-- Button trigger modal -->
	<div th:replace="user/fragments/nav_user">...</div>
	
<div class="accordion" id="accordionExample">
			  <div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne" th:text="#{applicationTitle.admin.menu}">Unos menija</button>
						</h2>
					</div>
		
					<div id="collapseOne" class="collapse show"
						aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<button type="button" class="btn btn-primary" id="openDialog" th:text="#{applicationTitle.admin.menu}" >Create
								Menu</button>
						</div>
					</div>
			 </div>
  		     <div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button"
								data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo" th:text="#{applicationTitle.admin.dailyOrders}">Daily orders</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
		     			 <div class="card-body">
								<button type="button" class="btn btn-primary" id="dailyOrders" th:text="#{applicationTitle.admin.trackOrders}">Track orders</button>
			
								<div aria-live="polite" aria-atomic="true"
									style="position: relative; min-height: 200px;">
									<div id="order_panel"
										style="position: relative; top: 0; right: 0; width: 100%; display: none">
											<div id="order_header" class="p-2 flex-fill bd-highlight"
												align="center" style="background-color: infobackground;"></div>
											<div id="order_header1" class="p-2 flex-fill bd-highlight"
												align="left" style="background-color: infobackground;"></div>
											<div id="order_row" class="d-flex bd-highlight"
												style="border: 3px">
				
												<div class="p-2 flex-fill bd-highlight" align="left"></div>
												<div class="p-2 flex-fill bd-highlight" align="right"></div>
											</div>
									</div>
									<div id="notification_panel"
										style="position: relative; top: 0; right: 0; width: 100%">
			
									</div>
								</div>
						</div>
		  			</div>
  			</div>
			<div class="card">
			    <div class="card-header" id="headingThree">
			      <h2 class="mb-0">
			        <button th:text="#{applicationTitle.admin.statistic}" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Statistika za datum
			        </button>
			      </h2>
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body">
					<button type="button" class="btn btn-primary" id="dailyStats" th:text="#{applicationTitle.admin.statistic}">Statistika za datum</button>
					<div id="dailyTotalEmail" style="border: thin solid black" class="alert alert-success" ></div>
					<div id="dailyTotalIngridients" style="border: thin solid black" class="alert alert-success" ></div>
					<div id="dailyTotalCashFlow" style="border: thin solid black" class="alert alert-success" ></div>
			      </div>
			    </div>
			 </div>
</div>

<!--  Statistika za datum odabir datuma start -->
<div th:replace="admin/fragments/statisticModal""></div>		

<!--  Statistika za datum odabir datuma start -->		

<!-- UNOS MENIJA START -->
	<div th:replace="admin/fragments/insertMenu"></div>
	<!-- MENU FORM END -->
   
	<script th:replace="fragments/scripts"></script>
	
	<script type="text/javascript">
	
	$( function() {
	    $( "#accordion" ).accordion({
	    	  collapsible: true,
	    	  active:false,
	    	  activate:  function (event, ui){
	    		  console.log("colapse")
	    		  $("#spinner-border").show();
	    	  }
	    });
	  });

	var timer = null;
	var Sound = sound();
	Sound.init();
	
	var Admin = admin($('#notification_panel'),
						$('#dailyTotalEmail'),
						$('#dailyTotalIngridients'),
						$('#dailyTotalCashFlow'),
						$('#toastElement'),
						Sound
						);
  
	$(function() {
		Admin.getAllIngridients();
		Admin.init();
	
	 	$('#datePicker').datepicker({
    					language: 'pt-BR',
    					autoclose: 'true',
    					clearBtn: 'true',
    					todayBtn: 'linked',
    					format: "yyyy-mm-dd",
    					
    					
  		});
  		
  		$('#openDialog').on('click', function(){
  			Admin.getDailyMenu($($('#menuForm')));
  		})
  		$('#statsForDate').on('click', function(){
  			var selectedDate = $('#datePicker').val();
  			Admin.getDailyStatistic(selectedDate);
  			$('#statisticModal').modal('hide');
  		});
	 	
		$('#dailyStats').on('click', function (){
			$('#notification_panel').empty();
			$('#statisticModal').modal();
		})
		
		$('#dailyOrders').on('click', function (){
			$('#dailyTotal').empty();
			toogleTimer();
		})
		 $("#openDialog").click(function(){
	        $("#modalDefaultContactForm").modal();
	    });
	    
	  	$('#menuForm').submit(function(){
	  	 	var ok = true;
	  		if(	isEmpty($('#menu').val()) || 
		    	isEmpty($('#price').val()) || 
		    	isEmpty($('#available').val())
		    	){
		    		alert('Popunite sve podatke za meni');
		    		ok = false;
		    	}
		    	if(isEmptyIngridients()){
		    		ok = false;
		    	}
	  		return ok;
	  	})
	});
	  /**
	  * valiira da li su sve namirnice popunjene na meniu
	  **/
	    function isEmptyIngridients(){
	    	var empty = false;
	    	var $row = $("#container");
    		$('input', $row).each(function(){
    					var $i = $(this);
						var name = $i.attr('name').match('[^.]*$').toString();
						console.log($i.attr('name') + ' '+ $i.val());
						if(name === 'ingridientType' && ( $i.val() ==='undefined' || $i.val() ==='')){
 								alert('Popunite namirnicu');
								empty = true;
								return false;
						}
						if(name === 'quantity' && ( $i.val() ==='undefined' || $i.val() ==='')){
 								alert('Popunite kolicinu u gramima');
								empty = true;
								return false;
						}
						if(name === 'price' && ( $i.val() ==='undefined' || $i.val() ==='')){
 								alert('Popunite cijenu po kilogramu!');
								empty = true;
								return false;
						}
    		
    		});
	    	return empty;
	    }
	
	 function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    };
    
	function toogleTimer(){
		if(timer === null){
			alert("Starting Tracking orders from:" + new Date().toLocaleTimeString());
			timer = setInterval(Admin.getDailyMenus, 5000)
		}else{
			alert("Stoped Tracking orders !");
			clearInterval(timer);
			timer =null;
		}
	}
	
	
</script>

</body>
</html>