<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title th:text="#{applicationTitle.register}">></title>
<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css" />
<link rel="stylesheet"
	href="/vendors/themify-icons/themify-icons.css"/>
<link rel="stylesheet"
	href="/vendors/owl-carousel/owl.theme.default.min.css"/>
<link rel="stylesheet"
	href="/vendors/owl-carousel/owl.carousel.min.css"/>
<link rel="stylesheet"
	href="/vendors/Magnific-Popup/magnific-popup.css"/>
<link rel="stylesheet" href="../../css/style.css"/>
<script th:replace="fragments/scripts"></script>
</head>
<body>
	<div th:if="${#authorization.expression('isAuthenticated()')}">
		<a href="/logout" th:href="@{#}" onclick="$('#form').submit();"> <span
			class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
		</a>
		<form style="visibility: hidden" id="form" method="post" action="#"
			th:action="@{/logout}"></form>
	</div>

	<!--================Header Menu Area =================-->
	<div th:if="${#authorization.expression('isAuthenticated()')}">
		<div th:replace="fragments/nav_user">...</div>
	</div>
	<div th:unless="${#authorization.expression('isAuthenticated()')}">
		<div th:replace="fragments/nav_all">...</div>
	</div>
	
	<!--================Hero Banner Section start =================-->

<!-- 	<div th:replace="fragments/header :: section.hero-banner">...</div> -->

	<div th:replace="fragments/register">...</div>

	<!--================Hero Banner Section end =================-->

	<!-- <div th:replace="fragments/header :: section.about">...</div> -->


<!-- 	<div th:replace="fragments/header :: div.fetured">...</div> -->

<!-- 	<div th:replace="fragments/header :: div.offer">...</div> -->

<!-- 	<div th:replace="fragments/header :: div.food">...</div> -->

<!-- 	<div th:replace="fragments/header :: div.education">...</div> -->

<!-- 	<div th:replace="fragments/header :: div.chef">...</div> -->



<!-- 	<div th:replace="fragments/header :: div.blog">...</div> -->

	<!-- <div th:replace="fragments/header :: footer">...</div> -->


	<div th:replace="fragments/footer">...</div>

</body>
</html>