<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Potvrda naruđbe</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />

	<style>
	div.spacer
{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}
.orderButton {
	background-color:red;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
/* 	border:3px solid #18ab29; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:21px;
	padding:5px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.orderButton:hover {
	.myButton {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:21px;
	padding:5px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

}
.orderButton:active {
	position:relative;
	top:1px;
}
	</style>
	
</head>
<body style="margin: 10px; padding: 10px;">	
   

	<div class="container" style="padding-bottom: 80px;">
	
		<div class="alert alert-success" role="alert" align="center"
			style="padding-top: 40px">
				<div >
				<!-- image holder -->
				</div>
		<img th:src="@{${baseUrl} + '/img/app-desktop-top-test-transparent.jpg'}"  width="100%" height="20%" class="d-inline-block align-left" alt="Zen"/>
			<div class="spacer"></div>
			<p>
				Poštovanje, <span th:text="${name}"></span>
			</p>
			<p>Zahvaljujem na narudžbi!</p>
			<div class="card">
				<div class="card-header">
					<strong>Meni za <span th:text="${day}"></span>  </strong>
				</div>
				<div class="spacer"></div>
				<div class="spacer"></div>
				<div class="card-body" style="word-wrap: break-word; border: double;"
					th:text="${order.menu.menuDescription}" ></div>
				<div class="spacer"></div>	
				<div class="card-body" style="word-wrap: break-word;">
					<span>Vrijeme narudžbe:<span th:text="${#dates.format(order.createDateTime, 'dd.MM.yyyy HH:mm')}"/></span><br></br>
					<span>Adresa dostave:<span th:text="${order.address}"/></span><br></br>
                	<span>Kontakt telefon:<span th:text="${order.cellular}"/></span><br></br>
                	<span>Napomena:<span th:text="${order.message}"/></span><br></br>
                	<span>Količina:<span th:text="${order.quantity}"/></span><br></br>
                	<span>Ukupno:</span><span th:text="${order.quantity*order.menu.price}"></span>
                </div>	
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">~</h5>
						<div th:replace="mailtemplates/fragments/info :: create">...</div>
				</div>
			</div>
		</div>
		
		<div th:replace="mailtemplates/fragments/unsubscribe">...</div>

	</div>

</body>
</html>