<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Potvrda registracije</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />

<!-- use the font -->
<style>
div.spacer {
	font-size: 0;
	height: 10px;
	line-height: 0;
}
</style>
</head>
<body style="margin: 0; padding: 0;">

	<div class="container">

		<div class="alert alert-success" role="alert" align="center"
			style="padding-top: 40px">
			<div>

<!-- 				<img -->
<!-- 					th:src="@{${baseUrl} + '/img/app-desktop-top-test-transparent.jpg'}" -->
<!-- 					width="100%" height="20%" class="d-inline-block align-left" -->
<!-- 					alt="Zen" /> -->
			</div>
			<div class="spacer"></div>
			<p>
				Poštovani, <span th:text="${name}"></span>
			</p>
			<p>
				Zahvaljujem na interesu </p>
				<div class="spacer"></div>
				<div class="spacer"></div>
				<strong>Okvirno područje dostave </strong>
				<br></br>
				 <img
					th:src="@{${baseUrl} + '/img/dostava_podrucje.png'}" width="60%"
					height="20%" class="d-inline-block align-left" alt="Zen"></img>
			<div class="spacer"></div>
			<div class="spacer"></div>
			<p> Ukoliko do sada niste naručivali molila bih
				Vas da me svakako prije kontaktirate na broj <span
					th:text="${cellular}"></span> ili na mail <span th:text="${mail}"></span>
				iz razloga što je dostavna zona OGRANIČENA.
			</p>
			<br></br>
			<p>Kako bi dovršili postupak registracije molim Vas da aktivirate vaš
			korisnički račun putem
			</p>
			<p>
				<a th:href="${baseUrl + registration}" class="alert-link">linka</a>
			</p>

			<div align="center">
				<p>~Iskra &#10084;</p>
			</div>
		</div>
	</div>



</body>
</html>