<section class="about section-margin pb-xl-70">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
					<div class="img-styleBox">
						<div class="styleBox-border">
							<img class="styleBox-img1 img-fluid"
								src="../../img/home/about-img1.png" alt="">
						</div>
						<img class="styleBox-img2 img-fluid"
							src="../../img/home/about-img2.png" alt="">
					</div>
				</div>
				<div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
					<div class="section-intro mb-lg-4">
						<h4 class="intro-title">About Us</h4>
						<h2>We speak the good food language</h2>
					</div>
					<p>Living first us creepeth she'd earth second be sixth hath
						likeness greater image said sixth was without male place fowl
						evening an grass form living fish and rule lesser for blessed
						can't saw third one signs moving stars light divided was two you
						him appear midst cattle for they are gathering.</p>
					<a class="button button-shadow mt-2 mt-lg-4" href="#">Learn
						More</a>
				</div>
			</div>
		</div>
	</section>