<section class="section-margin">
	<div class="container">
		<div class="section-intro mb-75px">
			<h4 class="intro-title">Our Blog</h4>
			<h2>Latest food and recipe news</h2>
		</div>

		<div class="row">
			<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
				<div class="card-blog">
					<img class="card-img rounded-0" src="../../img/blog/blog1.png"
						alt="">
					<div class="blog-body">
						<ul class="blog-info">
							<li><a href="#">Admin post</a></li>
							<li><a href="#">Jan 10, 2019</a></li>
						</ul>
						<a href="#">
							<h3>Huge cavity in antarctic glacie signals rapid</h3>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
				<div class="card-blog">
					<img class="card-img rounded-0" src="../../img/blog/blog2.png"
						alt="">
					<div class="blog-body">
						<ul class="blog-info">
							<li><a href="#">Admin post</a></li>
							<li><a href="#">Jan 10, 2019</a></li>
						</ul>
						<a href="#">
							<h3>Researcher unearths age in the desert</h3>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
				<div class="card-blog">
					<img class="card-img rounded-0" src="../../img/blog/blog3.png"
						alt="">
					<div class="blog-body">
						<ul class="blog-info">
							<li><a href="#">Admin post</a></li>
							<li><a href="#">Jan 10, 2019</a></li>
						</ul>
						<a href="#">
							<h3>High-protein rice brings value, nutrition</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>