<section class="section-margin mb-lg-100">
	<div class="container">
		<div class="section-intro mb-75px">
			<h4 class="intro-title">Featured Food</h4>
			<h2>Fresh taste and great price</h2>
		</div>


		<div class="owl-carousel owl-theme featured-carousel">
			<div class="featured-item">
				<img class="card-img rounded-0" src="../../img/home/featured1.png"
					alt="">
				<div class="item-body">
					<a href="#">
						<h3>Mountain Mike Pizza</h3>
					</a>
					<p>Whales and darkness moving</p>
					<div class="d-flex justify-content-between">
						<ul class="rating-star">
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
						</ul>
						<h3 class="price-tag">$35</h3>
					</div>
				</div>
			</div>
			<div class="featured-item">
				<img class="card-img rounded-0" src="../../img/home/featured2.png"
					alt="">
				<div class="item-body">
					<a href="#">
						<h3>Patatas Bravas</h3>
					</a>
					<p>Whales and darkness moving</p>
					<div class="d-flex justify-content-between">
						<ul class="rating-star">
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
						</ul>
						<h3 class="price-tag">$30</h3>
					</div>
				</div>
			</div>
			<div class="featured-item">
				<img class="card-img rounded-0" src="../../img/home/featured3.png"
					alt="">
				<div class="item-body">
					<a href="#">
						<h3>Pulled Sandwich</h3>
					</a>
					<p>Whales and darkness moving</p>
					<div class="d-flex justify-content-between">
						<ul class="rating-star">
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
						</ul>
						<h3 class="price-tag">$20</h3>
					</div>
				</div>
			</div>
			<div class="featured-item">
				<img class="card-img rounded-0" src="../../img/home/featured1.png"
					alt="">
				<div class="item-body">
					<a href="#">
						<h3>Mountain Mike Pizza</h3>
					</a>
					<p>Whales and darkness moving</p>
					<div class="d-flex justify-content-between">
						<ul class="rating-star">
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
							<li><i class="ti-star"></i></li>
						</ul>
						<h3 class="price-tag">$35</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>