
<footer class ="border border-light p-5">
<div class="text-center" >
				Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script><br/>
					Made with <i
						class="ti-heart" aria-hidden="true"></i> by <a
						href="https://www.webringapps.com/" target="_blank">WebringApps</a>
				
<!-- 				<div -->
<!-- 					class="col-lg-4 col-md-12 text-center text-lg-right footer-social"> -->
<!-- 					<a href="#"><i class="ti-facebook"></i></a> <a href="#"><i -->
<!-- 						class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-dribbble"></i></a> -->
<!-- 					<a href="#"><i class="ti-linkedin"></i></a> -->
<!-- 				</div> -->
			</div>
</footer>
<!-- <footer class="footer-area section-gap"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget"> -->
<!-- 					<h4>Top Products</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="#">Managed Website</a></li> -->
<!-- 						<li><a href="#">Manage Reputation</a></li> -->
<!-- 						<li><a href="#">Power Tools</a></li> -->
<!-- 						<li><a href="#">Marketing Service</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget"> -->
<!-- 					<h4>Quick Links</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="#">Jobs</a></li> -->
<!-- 						<li><a href="#">Brand Assets</a></li> -->
<!-- 						<li><a href="#">Investor Relations</a></li> -->
<!-- 						<li><a href="#">Terms of Service</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget"> -->
<!-- 					<h4>Features</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="#">Jobs</a></li> -->
<!-- 						<li><a href="#">Brand Assets</a></li> -->
<!-- 						<li><a href="#">Investor Relations</a></li> -->
<!-- 						<li><a href="#">Terms of Service</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget"> -->
<!-- 					<h4>Resources</h4> -->
<!-- 					<ul> -->
<!-- 						<li><a href="#">Guides</a></li> -->
<!-- 						<li><a href="#">Research</a></li> -->
<!-- 						<li><a href="#">Experts</a></li> -->
<!-- 						<li><a href="#">Agencies</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-xl-4 col-md-8 mb-4 mb-xl-0 single-footer-widget"> -->
<!-- 					<h4>Newsletter</h4> -->
<!-- 					<p>You can trust us. we only send promo offers,</p> -->

<!-- 					<div class="form-wrap" id="mc_embed_signup"> -->
<!-- 						<form target="_blank" -->
<!-- 							action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" -->
<!-- 							method="get"> -->
<!-- 							<div class="input-group"> -->
<!-- 								<input type="email" class="form-control" name="EMAIL" -->
<!-- 									placeholder="Your Email Address" -->
<!-- 									onfocus="this.placeholder = ''" -->
<!-- 									onblur="this.placeholder = 'Your Email Address '"> -->
<!-- 								<div class="input-group-append"> -->
<!-- 									<button class="btn click-btn" type="submit"> -->
<!-- 										<i class="ti-arrow-right"></i> -->
<!-- 									</button> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div style="position: absolute; left: -5000px;"> -->
<!-- 								<input name="b_36c4fd991d266f23781ded980_aefe40901a" -->
<!-- 									tabindex="-1" value="" type="text"> -->
<!-- 							</div> -->

<!-- 							<div class="info"></div> -->
<!-- 						</form> -->
<!-- 					</div> -->

<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div -->
<!-- 				class="footer-bottom row align-items-center text-center text-lg-left"> -->
<!-- 				<p class="footer-text m-0 col-lg-8 col-md-12"> -->
<!-- 					Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- 					Copyright &copy; -->
<!-- 					<script> -->
<!--  					document.write(new Date().getFullYear());--> 	

<!-- 					</script> -->
<!-- 					All rights reserved | This template is made with <i -->
<!-- 						class="ti-heart" aria-hidden="true"></i> by <a -->
<!-- 						href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- 					Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- 				</p> -->
<!-- 				<div -->
<!-- 					class="col-lg-4 col-md-12 text-center text-lg-right footer-social"> -->
<!-- 					<a href="#"><i class="ti-facebook"></i></a> <a href="#"><i -->
<!-- 						class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-dribbble"></i></a> -->
<!-- 					<a href="#"><i class="ti-linkedin"></i></a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</footer> -->
