<div class="reservations">
	<section class="bg-lightGray section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-xl-5 mb-4 mb-md-0">
					<div class="section-intro">
						<h4 class="intro-title">Reservation</h4>
						<h2 class="mb-3">Get experience from sneaky</h2>
					</div>
					<p>Him given and midst tree form seas she'd saw give evening
						one every make hath moveth you're appear female heaven had signs
						own days saw they're have let midst given him given and midst
						tree. Form seas she'd saw give evening</p>
				</div>
				<div class="col-md-6 offset-xl-2 col-xl-5">
					<div class="search-wrapper">
						<h3>Book A Table</h3>

						<form class="search-form" action="#">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Your Name">
									<div class="input-group-append">
										<span class="input-group-text"><i class="ti-user"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Email Address">
									<div class="input-group-append">
										<span class="input-group-text"><i class="ti-email"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Phone Number">
									<div class="input-group-append">
										<span class="input-group-text"><i
											class="ti-headphone-alt"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Select Date">
									<div class="input-group-append">
										<span class="input-group-text"><i class="ti-notepad"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Select People">
									<div class="input-group-append">
										<span class="input-group-text"><i
											class="ti-layout-column3"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group form-group-position">
								<button class="button border-0" type="submit">Make
									Reservation</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>