<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="create">
	<p class="card-text">
		Narudžbu možete otkazati na donjem linku u roku od 30 minuta, u slučaju bilo
		kakvih pitanja ili problema, molim vas da me kontaktirate na broj
		telefona <span th:text="${cellular}"></span>, ili mailom na <span
			th:text="${mail}" />


	</p>
	<a th:href="${baseUrl}" class="orderButton" th:text="#{order.order}">Otkaži</a>

	<div class="spacer"></div>
	<p class="card-text">Želim vam dobar tek i ugodan dan 😊</p>
	<p class="card-text">~Iskra &#10084;</p>
</div>

<div th:fragment="cancel">
	<p class="card-text">
		Narudžbu možete uvijek ponovno zadati na donjem linku, u slučaju bilo
		kakvih pitanja ili problema, molim vas da me kontaktirate na broj
		telefona <span th:text="${cellular}"></span>, ili mailom na <span
			th:text="${mail}" />


	</p>
	<a th:href="${baseUrl}" class="orderButton" th:text="#{order.order}">Naruči</a>
	<div class="spacer"></div>
	<p class="card-text">Želim vam dobar tek i ugodan dan 😊</p>
	<p class="card-text">~Iskra &#10084;</p>

</div>

<div th:fragment="menu">
	<a th:href="${baseUrl}" class="orderButton">Zadaj narudžbu</a>
	<div class="spacer"></div>
	<p class="card-text">
		U slučaju pitanja ili problema, molim vas da me kontaktirate na broj
		telefona <span th:text="${cellular}"></span> ili mailom na <span
			th:text="${mail}"></span>
	</p>
	<p class="card-text">Želim vam ugodan dan 😊</p>
	<p class="card-text">~Iskra &#10084;</p>

</div>
</html>