<div class="alert alert-light" role="alert" align="center" style="font-size: 10px;">
			Ukoliko se želite odjaviti s liste, molim Vas, učinite to putem sljedećeg
			<a th:href="${baseUrl + unsubscribe}" class="alert-link">linka</a>
</div>