<footer class="border border-light p-5">
	<div class="text-center">
		Copyright &copy;
		<script>
			document.write(new Date().getFullYear());
		</script>
		<br /> Made with <i class="ti-heart" aria-hidden="true"></i> by <a
			href="https://www.webringapps.com/" target="_blank">WebringApps</a>