<script type="text/javascript">
	$(document).ready(function() {
		$('#login-form').submit(function(event) {

			event.preventDefault(); //this will prevent the default submit

			var email = $.trim($("#email").val());
			var pwd = $.trim($("#password").val());
			if ((!email) || (!password)) {
				alert("C'mon fill those required fields!");
				return false;
			}

			$(this).unbind('submit').submit(); // continue the submit unbind preventDefault
		})
	});
</script>
<img th:src="@{~/img/app-desktop-top-test-transparent.jpg}"  width="100%" height="20%"    alt="jedite fine, zdrave i slasne obroke">

<form id="login-form" class="border border-light p-5"
	th:action="@{/login}" th:object="${logInBean}" method="POST">

	<p class="h4 mb-4 text-center" th:text="#{applicationTitle.login}">Sign in</p>

	<input id="email" type="email" 
		class="form-control mb-4" placeholder="E-mail" th:field="*{email}" />

	<input id="password" type="password" 
		class="form-control mb-4" placeholder="Password"
		th:field="*{password}" />
    
    <div  th:if="
		${error}" class="alert alert-danger"> <span th:text="${error}"></span>
	</div>



	<button class="btn btn-info btn-block my-4" type="submit" th:text ="#{index.login.button}">Sign in</button>
		
</form>

	<div class="text-center">
		<div th:text ="#{index.not.registred}"></div>
			<a th:href="@{/registration}"><div th:text ="#{index.register}"></div></a>
	

		<p th:text ="#{index.register.social}" >or sign in with:</p>
		<form action="/connect/google" method="POST"
								style="display: inline">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <input type="hidden" name="scope"
									value="profile email" />
								<button type="submit" class="loginBtn loginBtn--google">
									google 
								</button>
							</form>
		<form action="/connect/facebook" method="POST"
								style="display: inline">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <input type="hidden" name="scope"
									value="public_profile,email" />
								<button type="submit" class="loginBtn loginBtn--facebook">
								facebook
								</button>
							</form>
		
	</div>
	<div class="text-center">
<!-- 	<a type="button" class="light-blue-text mx-2"> <i -->
<!-- 			class="fa fa-facebook-f"></i> -->
<!-- 		</a> <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 			class="fa fa-google"></i> -->
<!-- 		</a> <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 			class="fa fa-linkedin"></i> -->
<!-- 		</a>  -->
<!-- <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 			class="fab fa-github"></i> -->
		</a>
	</div>
