
<script type="text/javascript">
	$(document).ready(function() {
		$('#login-form').submit(function(event) {

			event.preventDefault(); //this will prevent the default submit

			var email = $.trim($("#email").val());
			var pwd = $.trim($("#password").val());
			if ((!email) || (!password)) {
				alert("empty");
				return false;
			}

			$(this).unbind('submit').submit(); // continue the submit unbind preventDefault
		})
	});
</script>


	<div class="login">
		<section class="bg-lightGray section-padding">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-md-6 col-xl-5 mb-4 mb-md-0">

						<div class="form-group form-group-position">
							<form action="/connect/google" method="POST"
								style="display: inline">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <input type="hidden" name="scope"
									value="profile email" />
								<button type="submit" class="loginBtn loginBtn--google">
									Google <span class="fa fa-google-plus"></span>
								</button>
							</form>

							<form action="/connect/facebook" method="POST"
								style="display: inline">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <input type="hidden" name="scope"
									value="public_profile,email" />
								<button type="submit" class="loginBtn loginBtn--facebook">
									Facebook <span class="fa fa-facebook"></span>
								</button>
							</form>



						</div>
					</div>
					<div class="col-md-6 offset-xl-2 col-xl-5">
						<div class="search-wrapper">
							<h3>Log in</h3>

							<form id="login-form" class="search-form" th:action="@{/login}"
								th:object="${logInBean}" method="post">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" th:field="*{email}"
											placeholder="Email" id="email" name="email"
											autofocus="autofocus">

									</div>
									<div p th:if="${error}" class="alert alert-danger">
										<span th:text="${error}"></span>
									</div>

								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Password"
											th:field="*{password}" type="password" id="password"
											name="password">
										<div class="input-group-append">
											<span class="input-group-text"><i class="ti-email"></i></span>
										</div>
									</div>
								</div>

								<div class="form-group form-group-position">
									<button class="button border-0" type="submit">Log In</button>

									<a th:href="@{/registration}">Create Account</a>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
