

	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0aa6a8;">
				<div class="container box_1620">
					<a class="navbar-brand logo_h" href="/"><img
						src="../../img/logo-1.png" alt="" width="50px" height="50px" /></a>
					<button  class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
							
					</button>

					<div class="navbar-collapse offset collapse"
						id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link"
								href="/">Home</a></li>
<!-- 							<li class="nav-item"><a class="nav-link" href="about.html">About</a></li> -->
<!-- 							<li class="nav-item"><a class="nav-link" href="menu.html">Menu</a> -->
<!-- 							<li class="nav-item"><a class="nav-link" href="chef.html">Chef</a> -->
<!-- 							<li class="nav-item submenu dropdown"><a href="#" -->
<!-- 								class="nav-link dropdown-toggle" data-toggle="dropdown" -->
<!-- 								role="button" aria-haspopup="true" aria-expanded="false">Blog</a> -->
<!-- 								<ul class="dropdown-menu"> -->
<!-- 									<li class="nav-item"><a class="nav-link" href="blog.html">Blog -->
<!-- 											Single</a></li> -->
<!-- 									<li class="nav-item"><a class="nav-link" -->
<!-- 										href="blog-details.html">Blog Details</a></li> -->
<!-- 								</ul></li> -->
							<!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
							<!-- <li class="nav-item"><a class="nav-link" href="/">Login</a></li> -->
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

