<!-- Default form register -->
<img th:src="@{~/img/app-desktop-top-test-transparent.jpg}"  width="100%" height="30%" class="d-inline-block align-left" alt="">
<form class="text-center border border-light p-5" action="#"
	th:action="@{/registration}" th:object="${userBean}" method="post">



	<p class="h4 mb-4" th:text="#{index.register}">Sign up</p>

	<div class="form-row mb-4">
		<div class="col">
			<!-- First name -->
			<input type="text" id="defaultRegisterFormFirstName"
				class="form-control" th:field="*{firstName}" class="form-control"
				th:placeholder="#{index.register.fname}"/><small
		id="defaultRegisterFormPasswordHelpBlock"
		class="form-text text-muted mb-4"  th:text="#{index.register.fname}"> Lozinka</small>
		</div>
		<div class="col">
			<!-- Last name -->
			<input type="text" id="defaultRegisterFormLastName"
				class="form-control" th:field="*{lastName}" th:placeholder="#{index.register.sname}">
				<small
		id="defaultRegisterFormPasswordHelpBlock"
		class="form-text text-muted mb-4"  th:text="#{index.register.sname}"> Lozinka</small>
		</div>
	</div>

	<!-- E-mail -->
	<input type="text" th:field="*{email}" class="form-control"
		th:placeholder="#{index.register.email}" />
		<small
		id="defaultRegisterFormPasswordHelpBlock"
		class="form-text text-muted mb-4"  th:text="#{index.register.email}"> Lozinka</small>

	<!-- Password -->
	<input type="password" id="defaultRegisterFormPassword"
		th:field="*{password}" class="form-control" th:placeholder="#{index.register.pwd}"
		placeholder="Password"
		aria-describedby="defaultRegisterFormPasswordHelpBlock"> <small
		id="defaultRegisterFormPasswordHelpBlock"
		class="form-text text-muted mb-4"  th:text="#{index.register.pwd}"> Lozinka</small>
		


<!-- Confirm Password -->
	<input type="password" id="passwordConfirm"
		th:field="*{password}" th:field="*{passwordConfirm}"
									class="form-control" th:placeholder="#{index.register.pwd.confirm}"
		
		aria-describedby="defaultRegisterFormPasswordHelpBlock"/> <small
		id="defaultRegisterFormPasswordHelpBlock"
		class="form-text text-muted mb-4"  th:text="#{index.register.pwd.confirm}"> Lozinka</small>
		
		<div p th:if="${errors}" class="alert alert-danger">
		  	<ul>
		  		<li th:each="erorr: ${errors}" th:text="${erorr}" >
		  	</ul>
		</div>
		<div p th:if="${confirmation}" class="alert alert-info">
			<div th:text="${confirmation}"></div>
		  	
		</div>

<!-- 	<!-- Phone number --> 
<!-- 	<input type="text" id="defaultRegisterPhonePassword" -->
<!-- 		class="form-control" placeholder="Phone number" -->
<!-- 		aria-describedby="defaultRegisterFormPhoneHelpBlock"> <small -->
<!-- 		id="defaultRegisterFormPhoneHelpBlock" -->
<!-- 		class="form-text text-muted mb-4"> Optional - for two step -->
<!-- 		authentication </small> -->

<!-- 	<!-- Newsletter --> 
<!-- 	<div class="custom-control custom-checkbox"> -->
<!-- 		<input type="checkbox" class="custom-control-input" -->
<!-- 			id="defaultRegisterFormNewsletter"> <label -->
<!-- 			class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe -->
<!-- 			to our newsletter</label> -->
<!-- 	</div> -->

	<!-- Sign up button -->
	<button class="btn btn-info my-4 btn-block" type="submit" th:text="#{index.register.confirm.button}">Sign
		in</button>

<!-- 	<!-- Social register --> 
<!-- 	<p>or sign up with:</p> -->

<!-- 	<a type="button" class="light-blue-text mx-2"> <i -->
<!-- 		class="fab fa-facebook-f"></i> -->
<!-- 	</a> <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 		class="fab fa-twitter"></i> -->
<!-- 	</a> <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 		class="fab fa-linkedin-in"></i> -->
<!-- 	</a> <a type="button" class="light-blue-text mx-2"> <i -->
<!-- 		class="fab fa-github"></i> -->
<!-- 	</a> -->

<!-- 	<hr> -->

	<!-- Terms of service -->
	<!-- <p> By clicking <em>Sign up</em> you agree to our <a href="#">terms of service</a> -->
	<!-- end terms of service-->	
			
</form>
