

		<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
		<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="../../vendors/owl-carousel/owl.carousel.min.js"></script>
		<script src="../../vendors/nice-select/jquery.nice-select.min.js"></script>
		<script
			src="../../vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
		<script src="../../js/admin.js"></script>
        <script src="../../js/rowAdder.js"></script>	
		<script src="../../js/jquery.ajaxchimp.min.js"></script>
		<script src="../../js/mail-script.js"></script>
		<script src="../../js/main.js"></script>
		<script src="../../js/rowAdder.js"></script>
        
		
		
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
		<script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
		
		

		
		


