reg-wrapper {
	background: url(../img/home/reservation-bg.png) left center no-repeat;
	background-size: cover;
	padding: 30px 10px;
	text-align: center;
	position: relative;
	z-index: 1
}

.reg-wrapper1::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(2, 1, 15, 0.5);
	z-index: -1
}

.cssCircle {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	behavior: url(PIE.htc);
	width: 13px;
	height: 13px;
	padding: 0px;
	background: #779BCA;
	border: 1px solid #003580;
	color: #003580;
	text-align: center;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	transition: color 0.2s linear;
	font: 13px Arial, sans-serif
}

.cssCircle:hover {
	background: #3F69A0;
	cursor: pointer;
}

.minusSign {
	line-height: 0.9em;
	margin-bottom: 1px;
}

.plusSign {
	line-height: 1.1em;
}

.minusSign:hover, .plusSign:hover {
	color: white;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	#dailyTotalEmail table, #dailyTotalEmail thead, #dailyTotalEmail tbody,
		#dailyTotalEmail th, #dailyTotalEmail td, #dailyTotalEmail tr {
		display: block;
	}
	#dailyTotalIngridients table, #dailyTotalIngridients thead,
		#dailyTotalIngridients tbody, #dailyTotalIngridients th,
		#dailyTotalIngridients td, #dailyTotalIngridients tr {
		display: block;
	}
	#dailyTotalCashFlow table, #dailyTotalCashFlow thead,
		#dailyTotalCashFlow tbody, #dailyTotalCashFlow th, #dailyTotalCashFlow td,
		#dailyTotalCashFlow tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#dailyTotalEmail thead tr, #dailyTotalIngridients thead tr,
		#dailyTotalCashFlow thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	#dailyTotalEmail tr, #dailyTotalIngridients tr, #dailyTotalCashFlow tr {
		border: 1px solid #ccc;
	}
	#dailyTotalEmail td, #dailyTotalIngridients td, #dailyTotalCashFlow td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		top: 10px;
		word-wrap: break-word;
	}
	#dailyTotalEmail td:before, #dailyTotalIngridients td:before,
		#dailyTotalCashFlow td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 20px;
		left: 6px;
		width: 10%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	#dailyTotalEmail td:nth-of-type(1):before {
		content: "Name";
	}
	#dailyTotalEmail td:nth-of-type(2):before {
		content: "Surname";
	}
	#dailyTotalEmail td:nth-of-type(3):before {
		content: "Email";
	}
	#dailyTotalEmail td:nth-of-type(4):before {
		content: "Sum";
	}
	#dailyTotalIngridients td:nth-of-type(1):before {
		content: "Ingridient";
	}
	#dailyTotalIngridients td:nth-of-type(2):before {
		content: "Quantity(grams)";
	}
	#dailyTotalIngridients td:nth-of-type(3):before {
		content: "Price(per kg)";
	}
	#dailyTotalIngridients td:nth-of-type(4):before {
		content: "Sum";
	}
	#dailyTotalCashFlow td:nth-of-type(1):before {
		content: "Desc";
	}
	#dailyTotalCashFlow td:nth-of-type(2):before {
		content: "Total earned";
	}
	#dailyTotalCashFlow td:nth-of-type(3):before {
		content: "Total spent";
	}
	#dailyTotalCashFlow td:nth-of-type(4):before {
		content: "Earned";
	}
}

.myaccordion {
	max-width: 500px;
	margin: 50px auto;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card, .myaccordion .card:last-child .card-header {
	border: 1px;
}

.myaccordion .card-header {
	border-bottom-color: #EDEFF0;
	background: transparent;
}

.myaccordion .fa-stack {
	font-size: 18px;
}

.myaccordion .btn {
	width: 100%;
	font-weight: bold;
	color: #004987;
	padding: 0;
}

.myaccordion .btn-link:hover, .myaccordion .btn-link:focus {
	text-decoration: none;
}

.myaccordion li+li {
	margin-top: 10px;
}
div.spacer
{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}
/* img { */
/*     padding: 0; */
/*     display: block; */
/*     margin: 0 auto; */
/*     max-height: 100%; */
/*     max-width: 100%; */
/* } */
.imageHolder {
    display: inline-block;
    width: 100%; // Show 4 images in a row normally
    height: auto;
}

@media (max-width: 600px) {
  img {
    width: 100%; // Override width to show only one image in a row on smaller screens
  }
}
@media (max-width: 1800px) {
  img {
    width: 100%; // Override width to show only one image in a row on smaller screens
    height: 30%;
  }
}