<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->

    <!-- <script src="main.js"></script> -->
    <style>
        .container {
            width: auto;
            text-align: center;
            padding: 20px;
        }

        /* resize images */
        .container img {
            width: 100%;
            height: 80%;
            object-fit: contain;
        }
    </style>
    <script th:replace="fragments/scripts"></script>
</head>

<body>
    <div class="container"><img src="/img/notfound.jpg"/>
        <span th:text="${error}"> </span>
        <a id ="logout" href="#" > home </a>
       
    </div>

<form style="visibility: hidden" id="form" method="post" action="#"
			th:action="@{/logout}"></form>
<script>
   $(function() {
       $("#logout").on('click', function(){
           $('#form').submit();

       });

   });
</script>
</body>

</html>