<div class="modal fade" id="modalDefaultContactForm" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<!--Modal: Contact form-->
		<div class="modal-dialog cascading-modal" role="document">

			<!--Content-->
			<div class="modal-content">

					<!--Header-->
					<div class="modal-header info-color white-text">
						<h4 class="title" th:text="#{applicationTitle.menu.insert}">
							<i class="fa fa-pencil-alt"></i> Unos menija
						</h4>
						<button type="button" class="close waves-effect waves-light"
							data-dismiss="modal" aria-label="Close">
							<span aria-hidden="false">X</span>
						</button>
					</div>
					<!--Body-->
					<div class="modal-body">
						<form id="menuForm" th:action="@{/admin/menu}" method="post" th:object="${menu}">
							<input name="menuId" type="hidden" th:value="${menu.Id}" /> 
							<!-- Default textarea message -->
							<label for="defaultFormMessageModalEx" th:text="#{applicationTitle.menu.insert.desc}">Meni</label>
							<textarea type="text" id="menu" class="md-textarea form-control"
								th:field="*{menuDescription}" rows=6></textarea>
							<label for="defaultFormMessageModalEx" th:text="#{applicationTitle.menu.insert.menuFact}">Meni</label>
							<textarea type="text" id="menu" class="md-textarea form-control"
								th:field="*{menuFacts}" rows=10 cols="40"></textarea>
							<!-- Default input subject -->
							
							<label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.menu.price}">price</label><input
								type="text" maxlength="2" size="2" id="price"
								class="form-control form-control-sm" th:field="*{price}">
							<br>
	
							<!-- Default input subject -->
							
							<label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.menu.insert.available}">available</label> <input
								type="text" maxlength="3" size="3" id="available"
								class="form-control form-control-sm" th:field="*{available}">
							<br> <label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.menu.insert.date}">Date</label> <input
								type="text" maxlength="2" size="2" id="price"
								class="form-control form-control-sm" th:field="*{menuDate}">
								
							<br>
							<label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.menu.insert.email}">Email</label>
							<input type="checkbox" th:field ="*{sendEmail}" value="false"  style="">
							<br>
	<!-- ovo je u nekoj sljedecoj verziji VALJDA -->	
						<div  th:if="${not #lists.isEmpty(menu.ingridients)}">
						
							<div id = "ingridientsGenerated">
								<th:block th:each="ingridient : ${menu.ingridients}">
									<div id="modalRowControl" class="newIngridient">
										<div class="controls controls-row">
	<!-- 										<span th:text="${ingridientStat.index}"></span> -->
											<input  type="text" th:value="${ingridient.ingridientTypeValue}" th:name="'ingridients[' + ${ingridientStat.index}+'].ingridientTypeValue'" th:id="'ingridients[' + ${ingridientStat.index}+'].ingridientTypeValue'" maxlength="15" size="6">
											<input  type="hidden" th:value="${ingridient.ingridientType}" th:name="'ingridients[' + ${ingridientStat.index}+'].ingridientType'" th:id="'ingridients[' + ${ingridientStat.index}+'].ingridientType'" >
											<input  type="text" th:value="${ingridient.quantity}" size="4" th:name="'ingridients[' + ${ingridientStat.index}+'].quantity'" th:id="'ingridients[' + ${ingridientStat.index}+'].quantity'" size = "4"> 
											<input  type="text" th:value="${ingridient.price}" size="5" th:name="'ingridients[' + ${ingridientStat.index}+'].price'" th:id="'ingridients[' + ${ingridientStat.index}+'].price'" size = "4">
											<input  type="text" th:value="${#numbers.formatDecimal((ingridient.price * ingridient.quantity/1000),0,2) }" th:name="'ingridients[' + ${ingridientStat.index}+'].sum'" th:id="'ingridients[' + ${ingridientStat.index}+'].sum'" disabled  size="4">
<!-- 											netto cijena namirnice =  (cijena/kg * kolicna u gramima)/1000 -->
										</div>
										
									</div>
									
								</th:block>
							</div>
						</div>
						<div  th:if="${not #lists.isEmpty(menu.ingridients)}">
								<a href="#" id="addRowUpdate"><img src="../../img/plus-icon-13090.png"></a>
								<a href="#" id="removeRowUpdate"><img src="../../img/minus-icon.png"></a>
						</div>
							
							<div class="spacer"></div>
							<div th:if="${ #lists.isEmpty(menu.ingridients)}">
								<label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.menu.insert.ingridients}"></label>
								<div id="container">
								
									<div id="modalRowControl" class="newIngridient">
										<div class="controls controls-row">
											<input  type="text"  id="ingridientTypeValue" name="ingridients.ingridientTypeValue" placeholder="Ingridient" maxlength="15" size="10">
											<input  type="hidden" name="ingridientType">
											<input  type="text"  name="quantity" id="ingridients.quantity"  placeholder="Qnt" maxlength="5" size="3">
											<input  type="text"  name="price" placeholder="$$" maxlength="5" size="3">
											<input  type="text"  name="sum" placeholder="$um" maxlength="4" size="4">
										</div>
									
									</div>
								</div>
								
								<div>
									<a href="#" id="addRow"><img src="../../img/plus-icon-13090.png"></a>
									<a href="#" id="removeRow"><img src="../../img/minus-icon.png"></a>
								</div>
							</div>
							<div class="text-center mt-4 mb-2">
								<button type="submit" class="btn btn-info" id="createMenu" th:text="#{applicationTitle.button.confirm}">
									Unesi meni <i class="fa fa-send ml-2"></i>
								</button>
							</div>
						</form>
	
					</div>
					<!-- END BODY -->
				</div>
			<!--/.Content-->
		</div>
</div>