<div class="modal fade" id="statisticModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<!--Modal: Contact form-->
		<div class="modal-dialog cascading-modal" role="document">

			<!--Content-->
			<div class="modal-content">

				<!--Header-->
				<div class="modal-header info-color white-text">
					<h4 class="title" th:text="#{applicationTitle.admin.statistic}">
						<i class="fa fa-pencil-alt"></i> Statistika za datum
					</h4>
					<button type="button" class="close waves-effect waves-light"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="false">X</span>
					</button>
				</div>
				<!--Body-->
				<div class="modal-body">
						<!-- Default textarea message -->
						<!-- Default input subject -->
						<label for="defaultFormSubjectModalEx" th:text="#{applicationTitle.admin.date}">Date</label> <input
							type="text" maxlength="2" size="2" id="datePicker"
							class="form-control form-control-sm">
						<br>
						<div class="text-center mt-4 mb-2">
							<button class="btn btn-info" id="statsForDate" th:text="#{applicationTitle.button.confirm}">
								Send <i class="fa fa-send ml-2"></i>
							</button>
						</div>
				</div>
			</div>
			<!--/.Content-->
		</div>
		
</div>	