 <div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #0aa6a8;">
                        <h5 class="modal-title" id="userFormModalLabel" th:text="#{applicationTitle.contact.form}"> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <form id="userForm" th:action="@{/user/data}" th:object="${loggedInUser}" method="POST">

                            <div class="modal-body mx-3">
                               <label data-error="wrong" data-success="right" for="adress" th:text="#{order.adress}">Adresa?</label>
                               <a href="#" id="addAddress"><img src="../../img/plus-icon-13090.png"/> </a> 
                               <a href="#" id="removeAddress"><img src="../../img/minus-icon.png"/></a>
                               <div id = "addresContainer">
                                   <div  th:if="*{#object.adresses.size() &gt; 0 }">
                                     <div class="adresses" th:each="index : ${#numbers.sequence(0,(#object.adresses.size() - 1))}">
                                            <input class="form-control validate" th:field="*{adresses[__${index}__]}" />
                                    </div>
                                    </div>
                                   
                                </div>
                                
                                 
                                
                                 <label data-error="wrong" data-success="right" for="cellular" th:text="#{order.cellular}" >Mobitel?</label>
                                  <a href="#" id="addCellular"><img src="../../img/plus-icon-13090.png"/> </a>
						          <a href="#" id="removeCellular"><img src="../../img/minus-icon.png"/></a>
                                 <div id = "cellularsContainer">
                                    <div  th:if="*{#object.userCellular.size() &gt; 0 }">
                                        <div class ="userCellular" th:each="index : ${#numbers.sequence(0,(#object.userCellular.size() - 1))}">
                                                <input class="form-control validate" th:field="*{userCellular[__${index}__]}" />
                                                        
                                        </div>
                                    </div>
                                 </div>


                                 </div>
                                

                           
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-info btn-block my-4" type="submit" id="change" th:text="#{contact.confirm}">Promjeni</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
         <!-- END modal update user data-->