 <div class="toast-header">
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#0aa6a8" width="100%" height="100%" /></svg>
                <strong class="mr-auto"></strong>
                <strong class="mr-auto" th:text="#{order.wellcome}"></strong> 
                <strong th:text="${loggedInUser.firstName}"></strong>
            </div>
            <br/>
            <div> 
                <strong><span>Menu za </span> <span th:text="${menu.menuDate!= null? #dates.dayOfWeekName(menu.menuDate) + ' '+ #dates.format(menu.menuDate, 'dd.MM.yyyy'):'2000-01-01'}"> </span></strong>
             </div>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="15" th:text="${menu.menuDescription}" disabled="disabled"></textarea>
                
       
        
        <!--END  MENU  -->
        
        <!--  ako korisnik ima zadanu narudzbu prikazi ju i prikazi gumb za otkazivanje -->
         <div th:if="*{order !=null and order.getQuantity() &gt; 0}" class="text-center">
         <div  style="width: 2rem; height: 1rem;" ></div>
             <div class="form-group shadow-textarea">
             		<input id="orderTimeStamp" type="hidden" th:value="${#dates.format(order.createDateTime, 'yyyy-MM-dd HH:mm:ss')}" /> 
	                <div class="alert alert-success">
	                   <strong>Poruka:</strong> <div th:text="${order.message}"></div>
	                   <div class="d-flex bd-highlight">
								<div class="p-2 flex-fill bd-highlight" th:text="#{order.quantity}+':'" align="left">Kolicina:</div>
								<div class="p-2 flex-fill bd-highlight" th:text="${order.quantity}" align="right"></div>
						</div>
						 <div class="d-flex bd-highlight">
								<div class="p-2 flex-fill bd-highlight" th:text="#{order.timestamp}+':'" align="left" >Vrijeme:</div>
								<div class="p-2 flex-fill bd-highlight" th:text="${#dates.dayOfWeekName(order.createDateTime) +' '+#dates.format(order.createDateTime, 'dd.MM.yyyy HH:mm')}" align="right"></div>
						</div>

	                </div>
            </div>
            <!-- tu ide neki timer da se makne otkazivanje narudđbe -->
	            <form id="cancleForm" th:action="@{/user/cancel}" method="POST">
	                <input type="hidden" id="id" name="orderId" class="form-control validate" th:value="${order.Id}"/>
	                <button id="cancelOrder" class="btn btn-info btn-block my-4" type="submit" th:text="#{order.cancle}">Otkaži</button>
	            </form>
	        <!-- do tud -->
         </div>
		<!--  ako nema zadanu prethodno zadanu dnevnu narudzbu -->
			<div th:unless="*{order !=null and order.getQuantity() &gt; 0}" class="text-center">
				<!--  provjeri da li ima raspolozivih menija ako ima prikazi gumb za narucivanje -->
				 <div th:if="*{menu.Id != null and menu.getAvailable() &gt;0}">
<!-- 				 		 <div th:text=${order.quantity}></div> -->
				 		
				 		<div th:if="*{order !=null and order.quantity!=null and order.getQuantity() &lt; 0}"  class="alert alert-danger">
				 			<strong th:text="#{order.error.not.enough}">Nemamo dovoljno obroka za isporuku, pokušajte smanjiti količinu</strong>
				 		</div>
				 		<button type="button" class="btn btn-info btn-block my-4" data-toggle="modal" data-target="#exampleModal"> Naruci </button>
				 </div>
<!-- 				  <div th:text=${menu.available}></div> -->
<!-- 				  <div th:text=${menu.available gt; 4}></div> -->
				 <!--  u suprotnom -->
           		  <div th:unless="*{menu.Id != null and menu.getAvailable() &gt;0}">
           		  	<div th:if="*{menu.Id != null}" class="alert alert-danger">
           		  		<div th:text="#{order.error.nomore}">Danas vise nemamo raspolozivih obroka.. </div>
           		  	</div>
           		  	
           		  </div>
           
        	</div>