<header class="header_area">
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0aa6a8;">
					<div class="container box_1620">
						<a class="navbar-brand logo_h" href="#"><img src="../../img/logo-1.png" alt="zen-k"  width="50px" height="50px"/>
							</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>


						<div class="collapse navbar-collapse offset"
							id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav justify-content-end">
								<!-- <li class="nav-item active"><a class="nav-link"
									href="index.html">Home</a></li> -->
<!-- 								<li class="nav-item"><span sec:authentication="name"></span><span -->
<!-- 									sec:authentication="authorities"></span></li> -->
								 <li class="nav-item"><a class="nav-link" href="#"  onclick="$('#userFormModal').modal('show');">Moji podaci
										</a></li> 
										
								<li class="nav-item"><a class="nav-link" href="#" onclick="$('#form').submit();">Logout</a></li>
								
								
							</ul>
						</div>
					</div>
				</nav>
			</div>
        </header>

		<form style="visibility: hidden" id="form" method="post" action="#"
			th:action="@{/logout}"></form>
	<!-- </div> -->


	