
  
<div>

  		<div class="toast-header" style="font-family: fantasy; size: 2">
                 	<table class="table table-hover">
                 		<tr>
                 			<th th:text="#{menu.ingridient}">Sastojak</th>
                 			<th th:text="#{menu.ingridient.quantity}" style="text-align:right" >Kolicina</th>
                 		</tr>
                 	<tr th:each="ingridient: ${nutrition.ingridients}">
    					<td th:text="${ingridient.type} " ></td>
    					<td th:text="${ingridient.aproximatelyGrams +' gr'} " align="right"></td>
    				</tr>
    				
					</table>
					
					<div th:text="#{menu.nutrition}" align="center"></div>
					<div class="d-flex bd-highlight">
							<div class="p-2 flex-fill bd-highlight" th:text="#{menu.calories}+':'">Kalorije:</div>
							<div class="p-2 flex-fill bd-highlight" th:text="${nutrition.caloriesTotal}" align="right"></div>
							
							
							
					</div>
					<div class="d-flex bd-highlight">
  							<div class="p-2 flex-fill bd-highlight" th:text="#{menu.fat}+':'">Masti:</div>
							<div class="p-2 flex-fill bd-highlight" th:text="${nutrition.fatTotal}"  align="right"></div>	
					</div>
					<div class="d-flex bd-highlight">
  							<div class="p-2 flex-fill bd-highlight" th:text="#{menu.carbon}+':'" ></div>
							<div class="p-2 flex-fill bd-highlight" th:text="${nutrition.carbonTotal}"  align="right"></div>
					</div>
					<div class="d-flex bd-highlight">
						<div class="p-2 flex-fill bd-highlight" th:text="#{menu.proteins}+':'" ></div>
							<div class="p-2 flex-fill bd-highlight" th:text="${nutrition.proteinTotal}"  align="right"></div>
					</div>

					
                 </div>
</div> 