<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #0aa6a8;">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{order.dialog.wellcome}" ></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="orderForm" th:action="@{/user/order}" th:object="${order}" method="POST">
							<input  type="hidden" name="createDate" id="createDate" th:value="${order.createDate==null?'2000-01-01':order.createDate}" /> 
                            <div class="modal-body mx-3">

                                <textarea id="message" name="message" class="form-control validate"
                                    th:field="*{message}" rows ="6" maxlength="256"></textarea>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                                <label data-error="wrong" data-success="right" for="text" th:text="#{order.message}" >
                                   </label>
                                <select class="form-control" th:field="*{address}"  id="dropOperatorAddres">
                                        <option value="0" th:text="#{order.adress}" >Adresa?</option>
                                        <option th:each="adress : ${loggedInUser.adresses}" th:value="${adress}" th:text="${adress}"></option>
                                </select>

                                 <select class="form-control" th:field="*{cellular}"  id="dropOperatorCellular">
                                        <option value="0" th:text="#{order.cellular}" >Mobitel?</option>
                                        <option th:each="cellular : ${loggedInUser.userCellular}" th:value="${cellular}" th:text="${cellular}"></option>
                                </select>


                                <input type="number" min="1" max="20" id="quantity" name="quantity" class="form-control validate" th:field="*{quantity}"/>
                                <label data-error="wrong" data-success="right" for="quantity" th:text="#{order.quantity}">Kolicina?</label>
                                <!-- <span th:text="${menu.available}"></span> -->



                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-info btn-block my-4" type="submit" id="order" th:text="#{order.order}">Potvrdi</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
		