<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta th:name="${_csrf.headerName}" th:content="${_csrf.headerName}" />
	<script>
  $( function() {
    $( "#accordion" ).accordion({
    	  collapsible: true,
    	  active:false,
    	  activate:  function (event, ui){
    		  console.log("colapse")
    		  $("#spinner-border").show();
    	  }
    });
  });
    
  </script>
</head>

<body>

<div  style="width: 2rem; height: 1rem;" ></div>
<div id="accordion"> 
		<div id="headingOne">
  				<h2 class="mb-0">
  				<button type="button" class="btn btn-outline-info btn-block" data-toggle="collapse" data-target="#collapseOne" th:text="#{menu.daily}"> Naruči 
  				</button>

 			 	</h2>
		</div>
  		 <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordion" class="form-group shadow-textarea" style="border: 1px;">
  			<div th:replace ="user/fragments/dailyMenuPanel"></div>
   	
  		</div>
<!-- NUTRITION FACTS START
  		<div id="headingOne">
  			<h2 class="mb-0">
  			<button type="button" class="btn btn-outline-info btn-block" data-toggle="collapse" data-target="#collapseOne" th:text="#{menu}"> Nutrition facts
  			     	 			<span class="fa-stack fa-sm">
        				<i class="fas fa-circle fa-stack-2x"></i>
       				 	<i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      				</span>
  			</button>

 			 </h2>
 		</div>
 		 <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordion" class="form-group shadow-textarea" style="border: 1px;">
  			<div th:replace="fragments/nutritionFactsPanel"></div>
   	
  		</div>
 
END Nutrition facts  -->
  	
  	<div id="headingOne">
  				<h2 class="mb-0">
  				<button type="button" class="btn btn-outline-info btn-block" data-toggle="collapse" data-target="#collapseOne" th:text="#{applicationTitle.menu.insert.menuFact}"> Naruči 
  			     	 	
  				</button>

 			 	</h2>
		</div>
  		 <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordion" class="form-group shadow-textarea" style="border: 1px;">
<!--             <div class="toast-header"> -->
  			<div th:replace="user/fragments/menuFacts"></div>
            </div>
            
<!--             <div>  -->
          
<!--             </div> -->
 	</div>
                	
  		
  		
</div>
<!-- MENU  -->
<div id="orderForm">
        <!-- modal update user data-->

       <div th:replace="user/fragments/contactData"></div>

		<!--  -->

        <!-- Modal ORDER -->
        <div th:replace="user/fragments/orderData"></div>
        <!-- END Modal ORDER FORM -->
        
</div>
<script type="text/javascript">

$( function() {    
    	var adressAdder = RowAdder($('#addresContainer'),'.adresses',$('#addAddress'),$('#removeAddress'));
    	adressAdder.init();

 
    	var phoneAdder = RowAdder($('#cellularsContainer'),'.userCellular',$('#addCellular'),$('#removeCellular'));
    	phoneAdder.init();
		function validateNumber(event) { 
			console.log(event.target.name); 
			var key = window.event ? event.keyCode : event.which; 
			if (event.keyCode === 8 || event.keyCode === 46) { 
				return true; 
			} 
			else if (key<48 || key>57) { 
				return false; 
			} else { 
				return true; 
				} 
		}; 
		function isEmpty(value) { 
			return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null; 
		};
		$('#quantity').on('keypress', validateNumber);

		$('#order').on('click', function(){
   				if(isEmpty( $('#message').val()) || isEmpty( $('#quantity').val())){
       					alert('Molim popunite polja za narudzbu!!');
       					$('#message').focus();
       					return false;
   				}
	   		var addres = $('#dropOperatorAddres').val();
	   		var cellular = $('#dropOperatorCellular').val();
	   		if(cellular.toString()==0 || addres.toString()==0){
	   				alert("Adresu i telefon mozete unijeti na stavci 'Moji podaci' na gornjem izborniku");
	   				alert("Ako Vam se neda, ne zaboravite ih unijet u opisno polje za narudzbu :) ")
	   				if(!confirm('Potvrdi narudzbu?')){
	   					return false;
	   				}
	   		}
		});
		// otkazivanje narudžbe 30 minuta nakon naručivanja
		
		$("#cancelOrder").on('click', function(e){
			console.log($('#orderTimeStamp').val());
			var orderTimeStamp = new Date($('#orderTimeStamp').val());
			var thirtyMin = 1000 * 60 * 30; 
			var isThirtyMinutesPast = new Date().getTime()- orderTimeStamp > thirtyMin? true:false;
			if(isThirtyMinutesPast){
				alert(`Narudžbu možete otkazati 30 minuta nakon zadavanja, narucili ste u ${orderTimeStamp.toLocaleString()}, sada je ${new Date().toLocaleString()}, klopa je vec na putu! :)`);
				return false;
			}
			return true;
			
		})

});
</script>
<div id="result"></div>
</body>
</html>
